.side-bar
  .header
    %h1.header__name
    ユーザーの名前
    %ul.header__icons
      %li.list
        =fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        =fa_icon 'cog', class: 'icon'

  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
